[submodule "DgLib"]
	path = DgLib
	url = git@github.com:int-Frank/DgLib.git
[submodule "XornCore"]
	path = XornCore
	url = git@github.com:int-Frank/XornCore.git
[submodule "XornApp"]
	path = XornApp
	url = git@github.com:int-Frank/XornApp.git
[submodule "XornPlugins"]
	path = XornPlugins
	url = git@github.com:int-Frank/XornPlugins.git
